html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Thasadith';
  src: local('Thasadith'),
    url('./assets/fonts/Thasadith/Thasadith-Regular.ttf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'Urbanist';
  src: local('Urbanist'),
    url('./assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf')
      format('truetype');
  font-weight: regular;
}
